<!-- <header>
  <h1>{{ nameApp }}</h1>
  <button mat-button [matMenuTriggerFor]="menu">MENU</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item onclick="location.href='/'">{{ pages[0] }}</button>
    <button mat-menu-item onclick="location.href='/agenda'">
      {{ pages[1] }}
    </button>
    <button mat-menu-item onclick="location.href='/directoriomedico'">
      {{ pages[2] }}
    </button>
    <button mat-menu-item onclick="location.href='/cotizacirugia'">
      {{ pages[3] }}
    </button>
    <button mat-menu-item onclick="location.href='/medicoencasa'">
      {{ pages[4] }}
    </button>
  </mat-menu>
</header> -->
<header>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <h1>{{ nameApp }}</h1>
    </mat-toolbar-row>
  </mat-toolbar>
</header>
