.containerGen {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerDataUser {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-top: 3em;
}

mat-card {
  width: 250px;
}

mat-form-field {
  text-align: center;
}
