<div class="containerGen">
  <h2 class="title">Ingresa tus datos personales</h2>
  <mat-card>
    <div class="containerDataUser">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Ingresa tu nombre" value="" />
      </mat-form-field>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Apellidos</mat-label>
        <input matInput placeholder="Ingresa tus apellidos" value="" />
      </mat-form-field>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>{{ title }}</mat-label>
        <mat-select>
          <mat-option *ngFor="let tipoid of tipoids" [value]="tipoid.value">
            {{ tipoid.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Numero de identificación</mat-label>
        <input
          matInput
          placeholder="Ingresa tu número de identificación"
          value=""
        />
      </mat-form-field>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Correo electrónico</mat-label>
        <input matInput placeholder="Ingresa tu correo electronico" value="" />
      </mat-form-field>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Numero telefónico</mat-label>
        <input
          matInput
          placeholder="Ingresa tu numero de telefonico"
          value=""
        />
      </mat-form-field>
    </div>
  </mat-card>
</div>
