<h4>{{ titulo }} que necesitas</h4>
<mat-form-field appearance="fill">
  <mat-label>{{ titulo }}</mat-label>
  <mat-select>
    <mat-option *ngFor="let option of options" [value]="option.value">
      {{ option.viewValue }}
    </mat-option>
  </mat-select>
</mat-form-field>

<!-- <h4>mat-select</h4>
<mat-form-field>
  <mat-label>Favorite food</mat-label>
  <mat-select [(ngModel)]="selectedValue" name="food">
    <mat-option *ngFor="let food of foods" [value]="food.value">
      {{food.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>
<p> Selected food: {{selectedValue}} </p> -->
