<div class="containerMedicoKsa">
  <mat-toolbar color="primary">
    <span>{{ titulo }}</span>
    <span class="example-fill-remaining-space"></span>
  </mat-toolbar>
  <div>
    <form>
      <mat-card>
        <app-form-tu-direccion></app-form-tu-direccion>
        <mat-card>
          <app-form-date></app-form-date>
        </mat-card>
        <mat-card>
          <app-form-hour></app-form-hour>
        </mat-card>
      </mat-card>
      <app-form-data-user></app-form-data-user>
      <button mat-raised-button color="primary">{{ nameBut }}</button>
    </form>
  </div>
</div>
<app-main-footer></app-main-footer>
