<div class="containerMedicoKsa">
  <mat-toolbar color="primary">
    <span>{{ titulo }}</span>
    <span class="example-fill-remaining-space"></span>
  </mat-toolbar>
  <mat-card class="container">
    <form>
      <div class="containerMedCasaForm">
        <app-form-tu-direccion></app-form-tu-direccion>
        <app-form-date></app-form-date>
        <app-form-hour></app-form-hour>
      </div>
      <app-form-data-user></app-form-data-user>
      <div class="button">
        <button mat-raised-button color="accent">{{ nameBut }}</button>
      </div>
    </form>
  </mat-card>
</div>
<app-main-footer></app-main-footer>
