h2 {
  font-size: 40px;
  margin-left: 2em;
}

h3 {
  font-size: 30px;
  margin-left: 2.7em;
}

.saludo {
  display: flex;
  justify-content: center;
  line-height: 50px;
}
.containerHome {
  margin-top: 3em;
}
