<button
  mat-button
  color="secondary"
  [matMenuTriggerFor]="menu"
  aria-label="Example icon button with a menu icon"
>
  <mat-icon>menu</mat-icon>
</button>
<!-- onclick va con funciones que permitan consultar los endpoints del API -->
<mat-menu #menu="matMenu">
  <button mat-menu-item onclick="location.href='/directoriomedico'">
    Todos
  </button>
  <button mat-menu-item onclick="location.href='/directoriomedico'">
    Por sede
  </button>
  <button mat-menu-item onclick="location.href='/directoriomedico'">
    Por especialidad
  </button>
</mat-menu>
