<div>
  <h2>{{ titulo }}</h2>
  <div class="containerGen">
    <div class="container">
      <app-form-sede></app-form-sede>
    </div>
    <div class="container">
      <app-form-tipo-cirugia></app-form-tipo-cirugia>
    </div>
    <div class="container">
      <app-form-medico></app-form-medico>
    </div>
    <div class="container">
      <app-form-tipo-procedimiento></app-form-tipo-procedimiento>
    </div>
    <div class="container">
      <app-form-date></app-form-date>
    </div>
  </div>
</div>
