<mat-card class="containerCard">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{ nombreMedico }}</mat-card-title>
    <mat-card-subtitle>{{ especialidades }} - {{ sede }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>{{ bio }}</p>
    <div class="horario">
      <app-horario-medico></app-horario-medico>
    </div>
    <div class="container-buttons">
      <app-buttons-dir-medico></app-buttons-dir-medico>
    </div>
  </mat-card-content>
</mat-card>
