.containerCard {
  display: flex;
  flex-direction: column;
}

.containerHorario {
  width: 45%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.container-buttons {
  margin: 2em 0 2em 0;
}

.horario {
  margin: 2em 0 2em 0;
}
