<div class="containerCard">
  <mat-card>
    <mat-card-header class="title-card">
      <mat-card-title class="class-card-title"> {{ titulo1 }}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{ urlImg1 }}" alt="{{ titulo1 }}" />
    <mat-card-content>
      <p>
        {{ detalle1 }}
      </p>
    </mat-card-content>
    <mat-card-actions class="card-actions">
      <button
        mat-raised-button
        color="primary"
        [routerLink]="['/agenda']"
        routerLinkActive="router-link-active"
      >
        {{ nameBut1 }}
      </button>
    </mat-card-actions>
  </mat-card>
</div>
<div class="containerCard">
  <mat-card>
    <mat-card-header class="title-card">
      <mat-card-title class="class-card-title"> {{ titulo2 }}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{ urlImg2 }}" alt="{{ titulo2 }}" />
    <mat-card-content>
      <p>
        {{ detalle2 }}
      </p>
    </mat-card-content>
    <mat-card-actions class="card-actions">
      <button
        mat-raised-button
        color="accent"
        [routerLink]="['/directoriomedico']"
        routerLinkActive="router-link-active"
      >
        {{ nameBut2 }}
      </button>
    </mat-card-actions>
  </mat-card>
</div>
