<!-- <app-main-header></app-main-header> -->
<app-main-nav></app-main-nav>
<div class="containerDirectorio">
  <mat-toolbar color="primary">
    <span>{{ titulo }}</span>
    <span class="example-fill-remaining-space"></span>
    <div class="containerNav">
      <app-navbar-directorio></app-navbar-directorio>
    </div>
  </mat-toolbar>
  <div class="containerDataMedico">
    <div class="containerCardMedico">
      <app-card-medico></app-card-medico>
    </div>
  </div>
</div>
<app-main-footer></app-main-footer>
