.containerCotiza {
  margin: 4em 2em 4em 2em;
}
button {
  width: 70%;
  height: 50px;
  margin-top: 3em;
  margin-left: 7em;
}

.containerCard {
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
