.containerCotiza {
  margin: 2em 2em 2em 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerCirugiaform {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  width: 70%;
  height: 50px;
  margin-top: 3em;
}

.button {
  display: flex;
  justify-content: center;
  margin: 2em;
}
