<div>
  <h3>Horario</h3>
  <table>
    <thead>
      <tr>
        <td>&nbsp;</td>
        <td>{{ dias[0] }}</td>
        <td>{{ dias[1] }}</td>
        <td>{{ dias[2] }}</td>
        <td>{{ dias[3] }}</td>
        <td>{{ dias[4] }}</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Desde</td>
        <td>{{ inicia[0] }}</td>
        <td>{{ inicia[1] }}</td>
        <td>{{ inicia[2] }}</td>
        <td>{{ inicia[3] }}</td>
        <td>{{ inicia[4] }}</td>
      </tr>
      <tr>
        <td>Hasta</td>
        <td>{{ termina[0] }}</td>
        <td>{{ termina[1] }}</td>
        <td>{{ termina[2] }}</td>
        <td>{{ termina[3] }}</td>
        <td>{{ termina[4] }}</td>
      </tr>
    </tbody>
  </table>
</div>
