<div>
  <h2>{{ titulo }}</h2>
  <div class="containerGen">
    <div class="container">
      <app-form-peso></app-form-peso>
    </div>
    <div class="container">
      <app-form-estatura></app-form-estatura>
    </div>
    <div class="container">
      <app-form-edad></app-form-edad>
    </div>
    <div class="container">
      <app-form-antecedentes-medicos></app-form-antecedentes-medicos>
    </div>
    <div class="container">
      <app-form-historia-clinica></app-form-historia-clinica>
    </div>
  </div>
</div>
