<div class="containerAgenda">
  <mat-toolbar color="primary">
    <span>{{ titlePage }}</span>
    <span class="example-fill-remaining-space"></span>
  </mat-toolbar>
  <div class="containerForm">
    <form>
      <div>
        <mat-card>
          <app-form-sede></app-form-sede>
        </mat-card>
        <mat-card>
          <app-form-especialidad></app-form-especialidad>
        </mat-card>
        <mat-card>
          <app-form-medico></app-form-medico>
        </mat-card>
        <mat-card>
          <app-form-date></app-form-date>
        </mat-card>
        <mat-card>
          <app-form-hour></app-form-hour>
        </mat-card>
        <div class="data-personal">
          <app-form-data-user></app-form-data-user>
        </div>
        <div class="button">
          <button mat-raised-button color="accent">{{ nameBut }}</button>
        </div>
      </div>
    </form>
  </div>
</div>

<app-main-footer></app-main-footer>
