.containerAgenda {
  margin: 4em 2em 2em 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerForm {
  margin: 4em 2em 2em 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forms {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button {
  display: flex;
  justify-content: center;
  margin: 2em;
}

button {
  width: 70%;
  height: 40px;
  border-radius: 4px;
  font-size: 17px;
  color: white;
}

mat-card {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
}
